{{> layout/header}}

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    <div class="d-flex justify-content-end">
        <button class="btn btn-warning me-1">수정</button>
        <button class="btn btn-danger">삭제</button>
    </div>
    <div class="d-flex justify-content-end">
        <b>작성자</b> : ssar
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>제목자리</b></h2>
        <hr />
        <div class="m-4 p-2">
            내용입니다
        </div>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form id="commentForm" action="/reply/save" method="post" enctype="application/x-www-form-urlencoded">
                <div class="editor-menu">
                    <button id="btn-bold" type="button" style="border-radius: 4px">
                        <b>B</b>
                    </button>
                    <button id="btn-italic" type="button" style="border-radius: 4px">
                        <i>I</i>
                    </button>
                    <button id="btn-underline" type="button" style="border-radius: 4px">
                        <u>U</u>
                    </button>
                    <button id="btn-strike" type="button" style="border-radius: 4px">
                        <s>S</s>
                    </button>
                    <button id="btn-ordered-list" type="button" style="border-radius: 4px">
                        OLs
                    </button>
                    <button id="btn-unordered-list" type="button" style="border-radius: 4px">
                        UL
                    </button>
                    <button id="btn-image" type="button" style="border-radius: 4px">
                        IMG
                    </button>
                </div>
                <div id="comment" contenteditable="true"
                     style="padding: 16px 24px;border: 1px solid #D6D6D6;border-radius: 4px;"></div>
                <input type="hidden" name="comment" id="inputComment">
                <script>

                    // id값을 가져와서 변수에 할당합니다.
                    const comment = document.getElementById('comment');
                    const inputComment = document.getElementById('inputComment');
                    const btnBold = document.getElementById('btn-bold');
                    const btnItalic = document.getElementById('btn-italic');
                    const btnUnderline = document.getElementById('btn-underline');
                    const btnStrike = document.getElementById('btn-strike');
                    const btnOrderedList = document.getElementById('btn-ordered-list');
                    const btnUnorderedList = document.getElementById('btn-unordered-list');
                    const commentForm = document.getElementById('commentForm');

                    // 버튼을 클릭시 발동되는 이벤트 리스터로, 텍스트의 스타일을 변경합니다.
                    btnBold.addEventListener('click', function () {
                        setStyle('bold');
                    });

                    btnItalic.addEventListener('click', function () {
                        setStyle('italic');
                    });

                    btnUnderline.addEventListener('click', function () {
                        setStyle('underline');
                    });

                    btnStrike.addEventListener('click', function () {
                        setStyle('strikeThrough')
                    });

                    btnOrderedList.addEventListener('click', function () {
                        setStyle('insertOrderedList');
                    });

                    btnUnorderedList.addEventListener('click', function () {
                        setStyle('insertUnorderedList');
                    });

                    // 지정된 스타일을 에디터에 적용하는 함수
                    function setStyle(style) {
                        document.execCommand(style); // execCommand를 사용하여 스타일 적용
                        focusEditor(); // 스타일 적용 후 에디터에 포커스 유지
                    }

                    // 버튼 클릭 시 에디터가 포커스를 잃기 때문에 다시 에디터에 포커스를 해줌
                    function focusEditor() {
                        comment.focus({preventScroll: true});
                    }

                    // 폼 제출 시 comment의 HTML을 inputComment의에 복사
                    commentForm.addEventListener('submit', function () {
                        inputComment.value = comment.innerHTML;
                    });
                </script>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">cos</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn">🗑</button>
                </form>
            </div>
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">ssar</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn">🗑</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}